<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Account</title>
</head>
<body>
<form method="post" action="/createAccount" enctype="multipart/form-data">
    <input type="text" name="login" placeholder="Think up Login">
    <input type="password" name="password" placeholder="Think up Password">
    <input type="text" name="userName" placeholder="Enter User Name">
    <select name="operatorVideos" required>
        <option value="open">Open account videos</option>
        <option value="close">Close account videos</option>
    </select>
    <select name="operatorLikes" required>
        <option value="open">Open account likes</option>
        <option value="close">Close account likes</option>
    </select>
    <input type="file" name="file" placeholder="Load Photo">
    <input type="submit">
</form>

<div th:if="${message}">
    <h2 th:text="${message}"></h2>
</div>
<form method="get" action="/">
    <input type="submit" value="Main Page">
</form>
</body>
</html>
