<!doctype html>
<html lang="en">
<head>
    <title>View Profile {{accountId}}</title>
<style>
    body{
        background-color: cornflowerblue;
    }
    .thumb figure {
        width: 10%;
        margin: 1%;
        display: inline-block;
    }

    .thumb img {
        border: 2px solid #FFFFFF;
        border-radius: 10%;
        width: 155px;
        height: 155px;
    }

    .thumb figcaption {
        text-align: center;
        font-style: italic;
    }

</style>
    </head>
<body>
<h1>Like's User</h1>
    <h2>Account Name: {{accountId}}</h2>
<div class="thumb">
{{#likes}}
    <figure>
    <a href="/@{{nameAccountLikesVideo}}/video/{{idVideo}}">
        <img src="http://localhost:8080/tiktok/@{{nameAccountLikesVideo}}/video/{{idVideo}}.png">
    </a>
        <figcaption>Account Name: {{nameAccountLikesVideo}}</figcaption>
    </figure>
{{/likes}}
{{#errorMessage}}
    <p>{{errorMessage}}</p>
{{/errorMessage}}
</div>
</body>
</html>